{% extends 'profile.html'%}

{% block form_edit_profile %}

<div class="container">
    <hr>
    <div class="row">
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-2" novalidate enctype="multipart/form-data">
                {{form_edit_profile.csrf_token}}
                <legend>Edit Profile</legend>
                <fieldset>
                     <div class="form-group">
                        {{form_edit_profile.username.label(class="form-control-label")}}
                        {% if form_edit_profile.username.errors %}
                            {{form_edit_profile.username(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                            {% for error in form_edit_profile.username.errors %}
                                {{error}}
                            {% endfor %}
                            </div>        
                        {% else %}
                             {{form_edit_profile.username(class="form-control")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{form_edit_profile.email.label(class="form-control-label")}}
                        {% if form_edit_profile.email.errors %}
                            {{form_edit_profile.email(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                            {% for error in form_edit_profile.email.errors %}
                                {{error}}
                            {% endfor %}
                            </div>        
                        {% else %}
                             {{form_edit_profile.email(class="form-control")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_edit_profile.profile_image.label }}
                        {{ form_edit_profile.profile_image(class="form-control-file") }}
                        {% if form_edit_profile.profile_image.errors %}
                            {% for error in form_edit_profile.profile_image.errors %}
                                <span class="text-danger">{{ error }}</span><br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <br>
                    <p>Courses</p>
                    {% for field in form_edit_profile %}
                        {% if 'course' in field.name %}
                            <div class="form-group">
                            {{  field(class="form-check-input")   }}
                            {{  field.label(class="form-check-label") }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    

                </fieldset>
                {{form_edit_profile.submit_button_edit_profile(class="btn btn-primary mt-2")}}
            </form>
        </div>
    </div>
</div>

{% endblock %}